.MainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
  margin: 0%;
  position: relative;
}

.Canvas {
  display: flex;
  flex-direction: row;
  min-width: 450px;
  min-height: 450px;
  background-color: white;
  justify-content: flex-start;
  box-shadow: 20px 20px 15px -5px rgb(0 0 0 / 0.1);
}

.ColOne {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 450px;
  width: 96px;
}

.ColTwo {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 450px;
  width: 14px;
}

.ColThree {
  display: flex;
  flex-direction: column;
  background-color: red;
  height: 450px;
  width: 340px;
}

.OneA {
  height: 135px;
  background-color: white;
}

.OneB {
  height: 28px;
  background-color: black;
}

.OneC {
  height: 162px;
  background-color: white;
}

.OneD {
  height: 14px;
  background-color: black;
}

.OneE {
  height: 111px;
  background-color: blue;
}

.ThreeA {
  height: 325px;
}

.ThreeB {
  height: 14px;
  background-color: black;
}

.ThreeC {
  height: 111px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ThreeCOne {
  width: 288px;
}

.ThreeCTwo {
  width: 15px;
  background-color: black;
}

.ThreeCThree {
  width: 37px;
  display: flex;
  flex-direction: column;
}

.ThreeCThreeA {
  height: 45px;
}

.ThreeCThreeB {
  display: flex;
  height: 20px;
  flex-direction: row;
}

.ThreeCThreeBOne {
  width: 35px;
  background-color: black;
}

.ThreeCThreeBTwo {
  width: 2px;
  display: flex;
  flex-direction: column;
}

.ThreeCThreeBTwoA {
  height: 10px;
  background-color: white;
}
.ThreeCThreeBTwoB {
  height: 10px;
  background-color: yellow;
}

.ThreeCThreeD {
  height: 46px;
  background-color: yellow;
}
